logging {
  level = "info"
}

livedebugging {
  enabled = {{ alloy_live_debugging_enabled | default(false) | bool | lower }}
}

prometheus.exporter.unix "host" {
  enable_collectors = [
    "cpu",
    "filesystem",
    "diskstats",
    "loadavg",
    "meminfo",
    "netdev",
    "stat",
    "time",
    "uname",
  ]

  filesystem {
    fs_types_exclude     = "^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|securityfs|selinuxfs|squashfs|sysfs|tracefs)$"
    mount_points_exclude = "^/(dev|proc|run/credentials/.+|sys|var/lib/docker/.+)($|/)"
  }
}

prometheus.scrape "host" {
  targets    = prometheus.exporter.unix.host.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "{{ prometheus_remote_write_url }}"
{% if monitoring_gateway_scheme | default('http') == 'https' %}
    tls_config {
      server_name          = "{{ monitoring_gateway_tls_server_name }}"
      insecure_skip_verify = {{ monitoring_gateway_tls_insecure_skip_verify | bool | lower }}
    }
{% endif %}
  }
}

loki.write "default" {
  endpoint {
    url = "{{ loki_push_url }}"
{% if monitoring_gateway_scheme | default('http') == 'https' %}
    tls_config {
      server_name          = "{{ monitoring_gateway_tls_server_name }}"
      insecure_skip_verify = {{ monitoring_gateway_tls_insecure_skip_verify | bool | lower }}
    }
{% endif %}
  }
}

loki.source.file "nginx" {
  targets = [
    {
      __path__ = "{{ alloy_nginx_log_path }}",
      service  = "nginx",
      source   = "file",
    },
  ]
  forward_to    = [loki.write.default.receiver]
  tail_from_end = true

  file_match {
    enabled     = true
    sync_period = "10s"
  }
}

loki.source.file "app" {
  targets = [
    {
      __path__ = "{{ alloy_app_log_path }}",
      service  = "{{ alloy_app_log_service }}",
      source   = "file",
    },
  ]
  forward_to    = [loki.write.default.receiver]
  tail_from_end = true

  file_match {
    enabled     = true
    sync_period = "10s"
  }
}

otelcol.exporter.otlp "tempo" {
  client {
    endpoint = "{{ tempo_otlp_endpoint }}"
    tls {
      insecure = {{ (monitoring_gateway_scheme | default('http') != 'https') | bool | lower }}
{% if monitoring_gateway_scheme | default('http') == 'https' %}
      server_name          = "{{ monitoring_gateway_tls_server_name }}"
      insecure_skip_verify = {{ monitoring_gateway_tls_insecure_skip_verify | bool | lower }}
{% endif %}
    }
  }
}
