[Unit]
Description={{ item.description }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ observability_user }}
Group={{ observability_group }}
WorkingDirectory={{ item.data_dir }}
ExecStart={{ item.package_exec_path if (item.artifact_file | lower | regex_search('\.(deb|rpm)$')) else item.binary_exec_path }} {{ item.package_service_args | default(item.service_args) if (item.artifact_file | lower | regex_search('\.(deb|rpm)$')) else item.service_args }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
